body{
    background-color: rgb(77, 201, 160);
    font-family: Arial, sans-serif;
}

header{
    color: white;
}

section{
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

select#flista{
    width: 150px;
}

footer{
    font-style: italic;
    text-align: center;
    color: white;
}